# Copyright (C) 2022 The Android Open Source Project

on property:ro.product.cpu.abilist64=* && property:bootreceiver.enable=1
    mkdir /data/misc/dmesgd 0700 dmesgd system
    rm /data/misc/dmesgd/sent_reports.txt

on property:ro.product.cpu.abilist64=* && property:bootreceiver.enable=1 && property:dmesgd.start=1
    start dmesgd
    setprop dmesgd.start 0

service dmesgd /system/bin/dmesgd
    user dmesgd
    group system
    class main
    disabled
    oneshot
