service vendor.hwcomposer-3 /vendor/bin/hw/android.hardware.composer.hwc3-service.pixel
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ServiceCapacityLow
