allow hal_keymint_default block_device:dir { search };
allow hal_keymint_default uboot_block_device:blk_file { open read write getattr};
allow hal_keymint_default hal_keymint_default:binder { call };
