// SPDX-License-Identifier: GPL-2.0-only
/*
 * Display nodes for tangorpro-related boards.
 *
 * Copyright 2022 Google LLC
 *
 */
#include "gs201-tangorpro-display-constants.dtsi"

&reserved_memory {
	fb_handover: fb_handover {
		compatible = "exynos,fb_handover";
		reg = <0x0 0xfac00000 0x01400000>;
	};
};

&s2mpu_dpu0 {
	dma-cons = <&drmdecon0>;
};

&hsi2c_6 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	clock-frequency = <400000>;

	lp8556_bl: backlight@2c {
		/*
		 * If bootloader probed lp8556_bl successfully, it will change
		 * lp8556_bl to status = "okay" and rt4539_bl to status = "disabled"
		 */
		status = "disabled";
		compatible = "ti,lp8556";
		reg = <0x2c>;

		bl-name = "lcd-bl";
		enable-supply = <&m_ldo25_reg>;
		dev-ctrl = /bits/ 8 <0x81>;

		/* 5 LED strings enabled */
		led-string-en = /bits/ 8 <0x1f>;

		/* set maximum current at 23mA */
		rom_cfg1 {
			rom-addr = /bits/ 8 <0xa1>;
			rom-val = /bits/ 8 <0x4f>;
		};

		/* PWM output phase config for 5 LED strings */
		rom_cfg5 {
			rom-addr = /bits/ 8 <0xa5>;
			rom-val = /bits/ 8 <0x14>;
		};
	};
	rt4539_bl: backlight@3c {
		/*
		 * If bootloader probed lp8556_bl successfully, it will change
		 * lp8556_bl to status = "okay" and rt4539_bl to status = "disabled"
		 */
		status = "okay";
		compatible = "richtek,rt4539";
		reg = <0x3c>;

		bl-name = "lcd-bl";
		enable-supply = <&m_ldo25_reg>;

		bit-selection = /bits/ 8 <12>;

		/* 28% (140 nits) initial brightness */
		initial-brightness = /bits/ 16 <1146>;

		/* DC Mode */
		dimming-mode = /bits/ 8 <0x04>;

		/* 1225kHz */
		boost-switch-freq = /bits/ 8 <0x0c>;

		/* 0.5 us */
		fade-in-out-time-ctrl = /bits/ 8 <0x00>;

		/* 8 ms */
		slope-time-ctrl = /bits/ 8 <0x02>;

		/* no filter */
		slope-time-filter = /bits/ 8 <0x00>;

		/* max current 23mA */
		current-max = /bits/ 8 <0x9b>;

		/* PWM signal multiplied with I2C */
		brightness-control = /bits/ 8 <0x02>;

		/* 5 LEDS */
		enabled-leds = /bits/ 8 <0x3e>;

		/* 25V */
		boost-ovp-selection = /bits/ 8 <0x0f>;
		led-short-protection;
		pfm-enable;
	};

	tps65132_bias: lcd-bias@3e {
		/*
		 * If bootloader probed rt4801_bias successfully, it will change
		 * tps65132_bias to status = "disabled"
		 */
		compatible = "ti,tps65132";
		reg = <0x3e>;

		tps65132_avdd: outp {
			regulator-name = "disp_avdd";
			regulator-min-microvolt = <4000000>;
			regulator-max-microvolt = <TANGORPRO_AVDD_MICROVOLT>;
			regulator-boot-on;
			enable-gpios = <&gpp23 1 GPIO_ACTIVE_HIGH>;
		};

		tps65132_avee: outn {
			regulator-name = "disp_avee";
			regulator-min-microvolt = <4000000>;
			regulator-max-microvolt = <TANGORPRO_AVEE_MICROVOLT>;
			regulator-boot-on;
		};
	};

	rt4801_bias: lcd-bias@73 {
		/*
		 * If bootloader probed tps65132_bias successfully, it will change
		 * rt4801_bias to status = "disabled"
		 */
		compatible = "richtek,rt4801";
		reg = <0x73>;
		enable-gpios = <&gpp23 1 GPIO_ACTIVE_HIGH>;

		rt4801_avdd: DSVP {
			regulator-name = "disp_avdd";
			regulator-min-microvolt = <4000000>;
			regulator-max-microvolt = <TANGORPRO_AVDD_MICROVOLT>;
			regulator-boot-on;
		};

		rt4801_avee: DSVN {
			regulator-name = "disp_avee";
			regulator-min-microvolt = <4000000>;
			regulator-max-microvolt = <TANGORPRO_AVEE_MICROVOLT>;
			regulator-boot-on;
		};
	};
};

&drmdecon0 {
	override-hibernation;
	memory-region = <&fb_handover>;
	samsung,iommu-identity-map = <0x0 0xFAC00000 0x01400000>;
};

&dsim_modes {
	dsim-modes {
		1600x2560 {
			mode-name = "1600x2560";
			pmsk = <
				0x2 0xA6 0x2 0x2DAB /* p m s k */
				>;
			hs-clk = <1021>;
			esc-clk = <20>;
		};
	};
};

&drmdsim0 {
	status = "ok";
	#address-cells = <1>;
	#size-cells = <0>;

	boe_ts110f5mlg0_m0: panel@0 {
		compatible = "boe,ts110f5mlg0";
		label = "boe-ts110f5mlg0";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "main";
		backlight = <&lp8556_bl>;
		bl-ctrl-dcs;
		#include "gs201-tangorpro-display-common.dtsi"
	};
	boe_ts110f5mlg0_rt4539_m0: panel@1 {
		compatible = "boe,ts110f5mlg0";
		label = "boe-ts110f5mlg0-rt4539";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "main";
		backlight = <&rt4539_bl>;
		#include "gs201-tangorpro-display-common.dtsi"
	};
	csot_ppa957db2d_m0: panel@2 {
		compatible = "csot,ppa957db2d";
		label = "csot-ppa957db2d";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "main";
		backlight = <&lp8556_bl>;
		bl-ctrl-dcs;
		#include "gs201-tangorpro-display-common.dtsi"
	};
	csot_ppa957db2d_rt4539_m0: panel@3 {
		compatible = "csot,ppa957db2d";
		label = "csot-ppa957db2d-rt4539";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "main";
		backlight = <&rt4539_bl>;
		#include "gs201-tangorpro-display-common.dtsi"
	};
	panel@4 {
		compatible = "samsung,emul";
		label = "samsung-emul";
		channel = <0>;

		/* reset, power */
		reset-gpios = <&gpa7 1 GPIO_ACTIVE_HIGH>;
	};
};

&drmdsim1 {
	status = "ok";
	#address-cells = <1>;
	#size-cells = <0>;

	boe_ts110f5mlg0_m1: panel@0 {
		compatible = "boe,ts110f5mlg0";
		label = "boe-ts110f5mlg0";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "sec";
	};
	boe_ts110f5mlg0_rt4539_m1: panel@1 {
		compatible = "boe,ts110f5mlg0";
		label = "boe-ts110f5mlg0-rt4539";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "sec";
	};
	csot_ppa957db2d_m1: panel@2 {
		compatible = "csot,ppa957db2d";
		label = "csot-ppa957db2d";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "sec";
	};
	csot_ppa957db2d_rt4539_m1: panel@3 {
		compatible = "csot,ppa957db2d";
		label = "csot-ppa957db2d-rt4539";
		channel = <0>;
		touch = <&spitouch>;
		dual-dsi = "sec";
	};
};
