<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.snippet">
  <!-- Declare the minimum Android SDK version and internet permission,
       which are required by Mobly Snippet Lib since it uses network socket. -->
  <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="21"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <application>
    <!-- Add any classes that implement the Snippet interface as meta-data, whose
         value is a comma-separated string, each section being the package path
         of a snippet class -->
    <meta-data
        android:name="mobly-snippets"
        android:value="com.google.snippet.WifiAwareSnippet" />
  </application>
  <!-- Add an instrumentation tag so that the app can be launched through an
       instrument command. The runner `com.google.android.mobly.snippet.SnippetRunner`
       is derived from `AndroidJUnitRunner`, and is required to use the
       Mobly Snippet Lib. -->
  <instrumentation
      android:name="com.google.android.mobly.snippet.SnippetRunner"
      android:targetPackage="com.google.snippet" />
</manifest>
