<?xml version="1.0" encoding="utf-8"?>

<configuration description="Runs host-side STS tests">
    <test class="com.android.tradefed.testtype.HostTest" >
        <option name="jar" value="@@jarname@@" />
    </test>
</configuration>
