# SPDX-License-Identifier: GPL-2.0-only
#
# Copyright (C) 2022, Google LLC

config POGO_TRANSPORT
	tristate "Pogo transport management driver"
	depends on TYPEC_MAX77759
	select GOOGLE_LOGBUFFER
	help
	  Pogo transport management driver

